* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark: #21243D;
}

a {
    color: #000;
    text-decoration: none;
}

.link-blue {
    color: #00A8CC;
}

.active {
    color: #FF6464;
}

.menu {
    list-style: none;
    display: flex;
    gap: 32px;
}

header {
    display: flex;
    justify-content: end;
    padding-block: 27px;
    padding-right: 60px;
}

.container {
    margin: 0 auto;
    width: 856px;
}

.about__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 500px;
    align-items: start;
}

.image {
    width: 243px;
    height: 243px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: -5px 13px 0 #EDF7FA;
}

.title {
    font-size: 44px;
    font-weight: bold;
    color: var(--dark);
}

.text {
    font-size: 16px;
    font-weight: normal;
    color: var(--dark);
}

.button {
    background-color: #FF6464;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    border-radius: 2px;
    padding: 9px 20px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    /* outline: none; */
}