* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

.link-blue {
    color: #00A8CC;
}

.active {
    color: #FF6464;
}

.menu {
    list-style: none;
    display: flex;
    gap: 32px;
}

header {
    display: flex;
    justify-content: end;
    padding-block: 27px;
    padding-right: 60px;
}